.emoji_govno .emoji_sprite {
    background-image: url(http://img01.bt.co.uk/s/assets/220118/images/ico_share.png);
}

#stiker-title {
    position: relative;
    text-transform:capitalize;
    top: 0;
    color: #939393;
    letter-spacing: 0.2px;
    line-height: 14px;
    padding: 10px 5px 6px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}
